.lista-recetas {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card {
  margin: 0px 24px;
  height: auto;
  text-decoration: none;
}
.cont-recipe {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: rgb(164, 220, 241) 1px solid;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(153, 217, 236, 0.2);
}
.flex-recetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.card-img-bottom {
  width: 100%;
  height: 300px;
  object-fit: cover;
  align-items: center;
  margin-top: 20px;
  background-color: white;
}
.card-title {
  text-decoration: none;
  margin-left: 8px;
  color: black;
}

/*Small screens - tablets*/
@media screen and (max-width: 1300px) {
  .flex-recetas {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .flex-recetas {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Extra small screens - phones*/
@media screen and (max-width: 480px) {
  .flex-recetas {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container {
  margin-top: 10px;
  max-width: 300px;
  overflow: hidden;
  transition: max-width 3s;
  border: solid 1px rgb(215, 220, 223);
  border-radius: 0.4em;
  background-color: rgb(251, 253, 253);
  box-shadow: -3px 3px 10px rgba(30, 30, 30, 0.4);
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.5);
  color: #190f00;
}
.img-receta {
  width: 30%;
  height: auto;
  min-height: 200px;
  margin: 0;
  padding: 0;
  border: none;
  object-fit: contain;
  background-position: center center;
  display: block;
  float: left;
}

.tit-receta {
  margin-bottom: 20px;
  color: #3dc2e3;
  font-size: 36px;
  text-shadow: cadetblue;
}
.div-ingredientes {
  list-style: circle;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 700px;
  overflow-wrap: break-word;
  max-height: fit-content;
}

.div-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.div-sup {
  min-height: 300px;
}

@media screen and (max-width: 1300px) {
  .img-receta {
    width: 40%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .div-sup {
    display: flex;
    flex-direction: column;
  }
  .img-receta {
    width: 100%;
    height: auto;
  }
  .div-ingredientes {
    align-content: flex-start;
  }
}

/*Extra small screens - phones*/
@media screen and (max-width: 480px) {
  .div-sup {
    display: flex;
    flex-direction: column;
  }
  .img-receta {
    width: 100%;
    height: auto;
  }
  .div-ingredientes {
    align-content: flex-start;
  }
}

/*Add receta */
.mb-3 {
  margin-top: 200px;
  margin-left: 300px;
  margin-right: 300px;
}
.button-añadir {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.save-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-close {
  margin-left: 10px;
}
.ingredientContainer {
  display: flex;
  align-items: flex-start;
}
.ingredientsContainer {
  margin-top: 20px;
}
.btn-añadir {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #3dc2e3;
  background-color: #3dc2e3;
  border-radius: 0.9em;
  padding: 0.6em 1em 0.6em 0.8em;
  transition: all ease-in-out 0.2s;
}
.btn-añadir:hover {
  background-color: rgb(0, 204, 255);
}
.btn-guardar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #3dc2e3;
  background-color: #3dc2e3;
  border-radius: 0.9em;
  padding: 0.7em 1.1em 0.7em 0.9em;
  transition: all ease-in-out 0.2s;
}
.btn-guardar:hover {
  background-color: rgb(0, 204, 255);
}

.eliminar-receta {
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #3dc2e3;
  background-color: #3dc2e3;
  border-radius: 0.9em;
  padding: 0.6em 1em 0.6em 0.8em;
  transition: all ease-in-out 0.2s;
  margin-top: 160px;
}
.divBtnDelete {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}
.div-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
